@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Movie Review Site - CineTrack</h1>
    <p>One stop shop for tracking performance of your watched movies and staying up to date on your favorite actors</a>.</p>
</div>

