<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/7559d88d-540e-49b7-84d2-cb77006f9aea/resourceGroups/Fall2024-Assignment3-kmodi-ResourceGroup/providers/Microsoft.Web/sites/Fall2024-Assignment3-kmodi</ResourceId>
    <ResourceGroup>Fall2024-Assignment3-kmodi-ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://fall2024-assignment3-kmodi.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://fall2024-assignment3-kmodi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$Fall2024-Assignment3-kmodi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>